*.DS_Store
node_modules
not-needed-anymore
vscode_workspace.config*
notes
build
out
.npm
.config
.swp
.docker
.venv
.cache
.build
yarn-error.log
yarn.lock.md5

opstrace-config.yaml
prometheus.yml
opstrace

./go.sum

tsconfig.tsbuildinfo

**/secrets/**
**/out
**/dist
**/build
**/datasources/lib
**/stdlib/lib
**/lib/utils/lib
**/module_cache
**/modules/**/lib
# jest coverage directory
coverage/

pkg/cortex-push/cortex-push
pkg/datadog/datadog
pkg/fluent-http/fluent-http
pkg/loki/loki

tenant-api-token-*
opstrace_cli_*.log
packages/cli/src/buildinfo.ts

.idea
*.iml
