*.DS_Store
node_modules
not-needed-anymore
vscode_workspace.config*
notes
build
out
.npm
.config
.swp
.docker
.venv
.cache
.build
.log
telepresence.log
yarn-error.log
id.jwt
access.jwt

opstrace-config.yaml
prometheus.yml
opstrace

./go.sum
./go.mod

tsconfig.tsbuildinfo
_tscbuild/

**/secrets/**
**/out
**/dist
**/build
**/declarations
**/tmp-lib
packages/app/lib
**/lib/utils/lib
# jest coverage directory
coverage/

pkg/cortex-push/cortex-push
pkg/datadog/datadog
pkg/fluent-http/fluent-http
pkg/loki/loki

go/config-api
go/cortex-api
go/ddapi
go/loki-api

tenant-api-token-*
opstrace_cli_*.log
packages/buildinfo/src/buildinfo.ts

.idea
*.iml

*.jwt

# playwright output
test/test-remote/uishot-*
test/test-remote/test-results

packages/app/.env
packages/app/.env.client.development
packages/app/.env.server.remote

