{
    "BRANCH_NAME": "<BUILD_INFO_BRANCH_NAME>",
    "VERSION_STRING": "<BUILD_INFO_VERSION_STRING>",
    "COMMIT": "<BUILD_INFO_COMMIT>",
    "BUILD_TIME_RFC3339": "<BUILD_INFO_TIME_RFC3339>",
    "BUILD_HOSTNAME": "<BUILD_INFO_HOSTNAME>"
}