name: Link Check

on:
  push:
    paths:
      - "docs/**"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: gaurav-nelson/github-action-markdown-link-check@1.0.12
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "no"
          folder-path: "docs"
          check-modified-files-only: "yes"
          base-branch: "main"
